[submodule "src/program/porter2_stemmer"]
	path = libs/porter2_stemmer
	url = git@github.com:Ace7k3/porter2_stemmer.git
[submodule "libs/wiki_xml_dump_xerces"]
	path = libs/wiki_xml_dump_xerces
	url = git@github.com:Ace7k3/wiki_xml_dump_xerces.git
[submodule "libs/main_path_analysis"]
	path = libs/main_path_analysis
	url = git@github.com:Ace7k3/main_path_analysis.git
[submodule "libs/shared"]
	path = libs/shared
	url = git@github.com:Ace7k3/shared.git
