html, body {
	height: 100%;
}

.search-bar-row {
	padding: 15px 0px;
}
.search-field {
	width: 100%;
}
.dropdown {
	position: absolute;
	border: 1px solid red;
	display: none;
}

.search-input:focus + .dropdown {
	display: block;
}

.search-result-box {
	top: 48px; 
	left: 15px; 
	right: 15px; 
	display: block;
	max-height: 700px;
	overflow-y: scroll;
}

.info-sidebar {
	position: fixed;
	padding: 10px;
	top: 100px;
	bottom: 10px;
	width: 15%;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	min-height: 500px;
}

.main-content {
	position: fixed;
	right: 50px;
	top: 100px;
	bottom: 10px;
	width: 80%;
}

.label {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 3px;
}

.label-box {
	fill: lightgrey;
	rx: 5;
	ry: 5;
}

.startup-spinner {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
.startup-spinner-box {
	height: 200px;
}
.startup-spinner-box > img {
	height: 150px;
	width: 150px;
	display: block;
	margin: auto;
}

.startup-spinner-box > h1 {
	display: block;
	font-family: sans-serif;
	text-align: center;
	font-size: 22px;
}

*[hidden] {
	display: none;
}
