html, body {
	height: 100%;
}

.search-bar-row {
	padding: 15px 0px;
}
.search-field {
	width: 100%;
}
.dropdown {
	position: absolute;
	border: 1px solid red;
	display: none;
}

.search-input:focus + .dropdown {
	display: block;
}

.search-result-box {
	top: 48px; 
	left: 15px; 
	right: 15px; 
	display: block;
	max-height: 700px;
	overflow-y: scroll;
}

.info-sidebar {
	padding: 10px;
	top: 100px;
	bottom: 10px;
	width: 10%;
	min-width: 400px;
	background-color: #f8f8f8;
	border: 1px solid #e7e7e7;
	min-height: 500px;
}

sidebar-information {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.main-content {
	position: fixed;
	left: 30px;
	right: 30px;
	top: 110px;
	bottom: 30px;
	display: flex;
	flex-direction: row;
	/* width: 80%; */
}

.network {
	flex: 1;
}

.label {
	font-size: 20px;
	font-weight: normal;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 3px;
}

.label-box {
	fill: lightgrey;
	rx: 5;
	ry: 5;
}

.startup-spinner {
	position: absolute;
	z-index: 10;
	left: 2%;
	right: 2%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	flex-direction: column;
}
.startup-spinner-box {
	height: 200px;
}
.startup-spinner-box > img {
	height: 150px;
	width: 150px;
	display: block;
	margin: auto;
}

.startup-spinner-box > h1 {
	display: block;
	font-family: sans-serif;
	text-align: center;
	font-size: 22px;
}

.error-message {
	margin-top: 30px;
}

*[hidden] {
	display: none;
}

.table-main-path {
	font-size: 10px;
	flex: 1;
	overflow-y: auto;
	display: block;
}

td.main-path-date-cell {
	min-width: 100px;
}
